.hero {
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('../assets/gym-bg.jpg') center center / cover no-repeat;
}

.hero-content {
  z-index: 2;
  padding: 2rem;
}

.btn-purple {
  background-color: #6f42c1;
  color: white;
}

.btn-purple:hover {
  background-color: #5a379e;
}

.bg-purple {
  background-color: #6f42c1;
}

.bg-purple:hover {
  background-color: #5a379e;
}

body {
  padding-top: 70px; /* Ajusta según la altura de tu navbar */
}
